html{
  background-image: url('./images/Landscape Scene.jpg');
  background-size: cover;
}

#container{
  display: grid;
  grid-template-columns: 11vw 11vw 11vw 11vw 11vw 11vw 11vw ;
  margin-top: 20vh;
}

.grid {
  /* border: 2px solid black; */
  height:16vh;
  display: flex;
  text-align: center;
    align-self: center;
    justify-content: center;
}

.offsetLeft {
  left: 35px;
  position: relative;
}

.offsetRight {
  right: 35px;
  position: relative;
}

.centered {
    text-align: center;
    align-self: center;
    justify-content: center;
}

.imgSize {
  /* width: 11vw; */
  height: 16vh;
}

.purseSize {
  height: 10vh;
  opacity: .0;
  z-index: -1;
  position: absolute;
  /* bottom: 14vh; */
  left: 6vh;
}

.purseSize.is-active{
  animation:
   purse-animate-size 1s ease infinite alternate,
   purse-animate-opacity 1s ease forwards;
  z-index: 1; 
}

@keyframes purse-animate-size {
  0%{
    height: 10vh;
  }
  100%{
    height: 16vh;
  }
}
@keyframes purse-animate-opacity {
  0%{
    opacity: .0;
  }
  100%{
    opacity: 1;
  }
}
.volumeContainer{
  display: flex;
  float: right;
}

.volumeIcon {
  height: 3vh;
}
